<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>Thank you for visiting our website! To get early access to our planned projects, please fill in the following quick questionnaire.</p>
        </div>
    <form action="#" th:action="@{'/welcome/'}" th:object="${entry}" method="post">
        <div class="form-group">
            <label for="experience"><h3>Describe your experience with Green Fox Academy so far</h3></label>
            <textarea id="experience" class="form-control" name="experience" rows="5" th:field="*{experience}"></textarea>
            <span th:if="">error</span>
        </div>
        <div class="form-group">
            <label for="number"><h3>On a scale of 1 to 10, how likely are you to recommend Green Fox Academy to a friend?</h3></label>
            <input id="number" class="form-control" type="number" placeholder="10" th:field="*{scale}"/>
        </div>
        <div class="form-group">
            <label for="email"><h3>Your email address:</h3></label>
            <input id="email" class="form-control" type="email" placeholder="you@greenfox.com" th:field="*{email}"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
    </form>
    </div>
</div>
</html>
